.header #{ userName }'s Dashboard

.dashboardContent
    .createMonthLog 
        a.createNewLog 新增Log
        .monthInput.hidden
            .inputBox
                .currentYear #{ currentYear }年
                input(type="text" placeholder="请输入月份")
            a.cancelBtn Cancel
