h1  Welcome Master #{ userName }!!!

.addLog
    | 新增Log
    .currentYear #{ currentYear }年
    input(type="text" placeholder="请输入月份")
    button.create Create

.logList
    | 查看过往的Log
    button.view View
