// @import './normalize.css'
@import 'nib'
@import './*/*'

global-reset()

// common styles
html, body
    font-family 'Microsoft YaHei', Helvatica, Arial, 'SongTi', 'Sans-serif'
    font-size 16px

a
    color black
    text-decoration none
    &:hover
        cursor pointer
.hidden
    display none
#main
    height 100%
