.dashboard {
  height: 100%;
}
.dashboard .header {
  height: 45px;
  line-height: 45px;
  color: #fff;
  background-color: #5a6b77;
  border-bottom: 1px solid #485761;
  text-align: center;
}
.dashboard .dashboardContent {
  zoom: 1;
  width: 1000px;
  margin: 3% auto 0;
}
.dashboard .dashboardContent:before,
.dashboard .dashboardContent:after {
  content: "";
  display: table;
}
.dashboard .dashboardContent:after {
  clear: both;
}
.dashboard .createMonthLog {
  width: 25%;
  position: relative;
  float: right;
}
.dashboard .createNewLog {
  display: block;
  width: 80%;
  padding: 10px 0;
  margin: 0 auto;
  color: #5298f7;
  text-align: center;
  background-color: #f9fcff;
  position: relative;
  z-index: 10;
  border: 1px solid #dddee0;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.dashboard .createNewLog.showMonthInput {
  -webkit-border-radius: 0;
  border-radius: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.dashboard .createNewLog:hover {
  cursor: pointer;
  color: #fff;
  border: 1px solid #fff;
  background-color: rgba(82,152,252,0.8);
}
.dashboard .monthInput {
  width: 80%;
  margin: 0 auto;
  border: 1px solid #5298fc;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.dashboard .monthInput .inputBox {
  zoom: 1;
  padding: 10px 10px;
  color: #fff;
  background-color: #5298fc;
}
.dashboard .monthInput .inputBox:before,
.dashboard .monthInput .inputBox:after {
  content: "";
  display: table;
}
.dashboard .monthInput .inputBox:after {
  clear: both;
}
.dashboard .monthInput .currentYear {
  width: 30%;
  height: 25px;
  line-height: 25px;
  float: left;
}
.dashboard .monthInput input {
  width: 70%;
  height: 25px;
  line-height: 25px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  outline: none;
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  float: left;
}
.dashboard .monthInput .cancelBtn {
  display: block;
  padding: 8px 0;
  color: #b0b8bf;
  text-align: center;
  font-size: 14px;
}
.dashboard .userLogList {
  width: 75%;
  margin-left: -2px;
  text-align: center;
  border: 1px solid #dddee0;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  float: right;
}
.dashboard .userLogList .title {
  color: #5a6b77;
  padding: 10px 0;
  border-bottom: 1px solid #dddee0;
}
.dashboard .userLogList li {
  color: #5298f7;
  list-style: none;
  padding: 10px 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.dashboard .userLogList li:nth-child(even) {
  background-color: #f9fcff;
}
.dashboard .userLogList li:hover {
  cursor: pointer;
  color: #fff;
  background-color: rgba(82,152,252,0.8);
}
.dashboard .noLog {
  color: #5a6b77;
  padding: 26px 0;
}
.welcomePanel {
  height: 100%;
  background-image: -webkit-linear-gradient(270deg, #5298fc 66%, #2392ff 100%);
  background-image: -moz-linear-gradient(270deg, #5298fc 66%, #2392ff 100%);
  background-image: -o-linear-gradient(270deg, #5298fc 66%, #2392ff 100%);
  background-image: -ms-linear-gradient(270deg, #5298fc 66%, #2392ff 100%);
  background-image: linear-gradient(-180deg, #5298fc 66%, #2392ff 100%);
}
.welcomePanel .createUser,
.welcomePanel .chooseUser {
  max-width: 600px;
  margin: 0 auto;
  padding-top: 10%;
  color: #fff;
  text-align: center;
}
.welcomePanel .nameInput input {
  width: 250px;
  height: 45px;
  line-height: 45px;
  font-size: 22px;
  color: #fff;
  text-align: center;
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid #fff;
}
.welcomePanel .userBtn {
  display: block;
  max-width: 150px;
  padding: 10px 0;
  margin: 10px auto;
}
.welcomePanel .userBtn:hover {
  color: #5298fc;
  font-size: 22px;
  font-weight: bold;
  background-color: #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.monthLog {
  height: 100%;
}
.monthLog .header {
  zoom: 1;
  height: 45px;
  line-height: 45px;
  color: #fff;
  background-color: #5a6b77;
  border-bottom: 1px solid #485761;
  text-align: center;
}
.monthLog .header:before,
.monthLog .header:after {
  content: "";
  display: table;
}
.monthLog .header:after {
  clear: both;
}
.monthLog .header .goToDashboard {
  float: left;
}
.monthLog .header .downloadBtn {
  float: right;
}
.monthLog .header .options {
  padding: 0 20px;
  font-size: 16px;
  color: #fff;
}
.monthLog .header .options:hover {
  background-color: #34434d;
}
.monthLog .addLog {
  width: 600px;
  padding: 10px 0;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  background-color: #5298fc;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.monthLog .addLog .note {
  margin: 10px 0;
}
.monthLog .addLog textarea {
  width: 90%;
  margin: 10px 0;
  font-size: 16px;
  color: #5a6b77;
  outline: none;
  border: 1px solid #fff;
  overflow: auto;
  resize: none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.monthLog .addLog ::-webkit-input-placeholder {
  color: rgba(90,107,119,0.6);
}
.monthLog .addLog ::-moz-placeholder {
  color: rgba(90,107,119,0.6);
}
.monthLog .addLog :-moz-placeholder {
  color: rgba(90,107,119,0.6);
}
.monthLog .addLog :-ms-input-placeholder {
  color: rgba(90,107,119,0.6);
}
.monthLog .logDetail {
  width: 1000px;
  margin: 20px auto 0;
  border: 1px solid #dddee0;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.monthLog .logDetail .logTable {
  width: 100%;
  color: #5a6b77;
}
.monthLog .logDetail .logTable th,
.monthLog .logDetail .logTable td {
  text-align: center;
}
.monthLog .logDetail .logTable thead th {
  padding: 10px 0;
  border-bottom: 1px solid #dddee0;
}
.monthLog .logDetail .logTable tbody tr {
  border-bottom: 1px solid #dddee0;
}
.monthLog .logDetail .logTable tbody tr:nth-child(even) {
  background-color: #f9fcff;
}
.monthLog .logDetail .logTable tbody td {
  padding: 10px 0;
}
.monthLog .logDetail .logTable tbody .logIndex {
  width: 10%;
}
.monthLog .logDetail .logTable tbody .logContent {
  width: 70%;
}
.monthLog .logDetail .logTable tbody .logStatus {
  width: 13%;
}
.monthLog .logDetail .logTable tbody .delete {
  width: 7%;
}
.monthLog .logDetail .logTable tbody .delete a {
  color: #5a6b77;
  padding: 10px 12px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.monthLog .logDetail .logTable tbody .delete a:hover {
  color: #fff;
  background-color: #f00;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
html {
  font-family: 'Microsoft YaHei', Helvatica, Arial, 'SongTi', 'Sans-serif';
  font-size: 16px;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}
.hidden {
  display: none;
}
#main {
  height: 100%;
}
::-webkit-input-placeholder {
  color: rgba(255,255,255,0.8);
}
::-moz-placeholder {
  color: rgba(255,255,255,0.8);
}
:-moz-placeholder {
  color: rgba(255,255,255,0.8);
}
:-ms-input-placeholder {
  color: rgba(255,255,255,0.8);
}
::selection {
  background: #5298fc;
  color: #fff;
}
::-moz-selection {
  background: #5298fc;
  color: #fff;
}
