.header #{ logMonth }总结详情
    a.goToDashboard.options Dashboard
    a.downloadBtn.options(href=downloadUrl, target='_blank') Download
.addLog
    .note 添加新条目
    textarea.logInput(placeholder="请输入工作内容" rows="3" autofocus)
.logDetail.hidden
    table.logTable
        thead
            th 序号
            th 内容
            th 状态
            th    
        tbody
            
