- var outputUrlArr = new Array(userName, year, month);
- var outputUrl = '/output-tasklog/' + outputUrlArr.join('/');
- var logNum = 0;
//- ToDo
// 表格序号由jade生成。这样的话新增项产生不了logNum
// delete完之后需要保存才能更新数据库
button.goToHome 返回首页

.addLog
    input.logInput(type="text" placeholder="请输入工作内容" autofocus)
    button.add Add
    
.logDetail
    .logTitleWrapper
        .logTitle #{ year }年 #{ month }月总结
        .optionsBtn
            a.output(href=outputUrl, target='_blank') Output
    table.logTable
        tr
            th 序号
            th 内容
            th 状态
                    

        
            
        
    
