button.home 返回首页

.addLog
    input(type="text" placeholder="请输入工作内容")
    button.add Add
    
.logDetail
    .logTitleWrapper
        .logTitle #{ year }年 #{ month }月总结
        .optionsBtn
            button.output Output
    table.logTable
        tr
            th 序号
            th 内容
            th 状态

        
            
        
    
