.header #{ logMonth }总结详情
    a.goToDashboard.options Dashboard
    a.downloadBtn.options(href=downloadUrl, target='_blank') Download
.addLog
    .note 添加新条目
    input.logInput(type="text" placeholder="请输入工作内容" autofocus)    
.logDetail    
    table.logTable
        thead
            th 序号
            th 内容
            th 状态
            th              
        tbody
                    

        
            
        
    
